<html>
    <head>
        <title>Test3-5601012620064</title>
    </head>
    <body>
        <h1>ADD QUESTION</h1>
<form method="POST">
QUESTION :  <br>
<input name="your_question" id="id_question" placeholder="type your question" /> <br>
ANSWER : <br>
1)<input name="your_ans1" id="id_answer1" placeholder="type your answer1" /> <br>
2)<input name="your_ans2" id="id_answer2" placeholder="type your answer2" /> <br>
 <input type="submit" value="send question"        id="submit_Q"  >
            {% csrf_token %}
</form>
    </body>
</html>
