<html>
    <head>
        <title>Test3-5601012620064</title>
    </head>
    <body>
        <h1>ANS MY QUESTION</h1>
<a href="/" id="back2home">[[back]]</a> </br>
<form method="POST">
QUESTION :  <br>
{{quest_.question}}<br>
ANSWER : <br>
<div class="answers">
    1)<input id="ans-2" type="radio" name="ans" value="1" />{{quest_.answer1}}<br>
    2)<input id="ans-1" type="radio" name="ans" value="2" />{{quest_.answer2}}<br>
</div>
 <input type="submit" value="send answer"        id="submit_A"  >
 <input type="hidden" value="send_ans"  name="send_ans">
            {% csrf_token %}
</form>
<br>
จำนวนผู้ตอบ<br>
{{quest_.answer1}} : {{quest_.Nanswer1}}<br>
{{quest_.answer2}} : {{quest_.Nanswer2}}<br>
    </body>
</html>
