<html>
    <head>
        <title>Test3-5601012620064</title>
    </head>
    <body>
        <h1>Test III</h1>
 <script type="text/javascript">
function changeNavigation(id) 
{document.getElementById('main').innerHTML=document.getElementById(id).innerHTML} 
</script>

Now : <u>{{now}}</u></br>
<a href="/add" name="addQ" id="add_Q">Add Question</a> </br>
เลือกการแบ่งช่วงเวลา---->
<FONT COLOR=green>
<span onClick="changeNavigation('alls')" name="all" >&nbsp;&nbsp;&nbsp;<u>[[ทั้งหมด]]</u>&nbsp;&nbsp;&nbsp;</span>
<span onClick="changeNavigation('years')" name="year" >&nbsp;&nbsp;&nbsp;<u>[[ปี{{now.year}}]]</u>&nbsp;&nbsp;&nbsp;</span>
<span onClick="changeNavigation('m3s')" name="m3" >&nbsp;&nbsp;&nbsp;<u>[[3เดือนก่อน]]</u>&nbsp;&nbsp;&nbsp;</span>
<span onClick="changeNavigation('m6s')" name="m6" >&nbsp;&nbsp;&nbsp;<u>[[6เดือนก่อน]]</u>&nbsp;&nbsp;&nbsp;</span>
</FONT>
</br>
</br>
</br>
<!--Main page-->
<td valign="center" ><dt>
<div class="test" id="main" align="center">
<p><FONT COLOR=red><u>ทั้งหมด</u></FONT></p>
{% if count != 0 %}
it's question<br>
{%endif%}
{% for quests in quest %}
<a href="/answer/{{ quests.id }}/" id="view_question_{{ quests.id }}"> {{quests.id}} {{quests.question}}</a> [[{{quests.pub_date}}]]
<br> 
{%endfor%}
</div>
</dt></td>


<!--all-->

<div id="alls" style="display: none">
<p><FONT COLOR=red><u>ทั้งหมด</u></FONT></p>
{% if count != 0 %}
it's question<br>
{%endif%}
{% for quests in quest %}
<a href="/answer/{{ quests.id }}/" id="view_question_{{ quests.id }}"> {{quests.id}} {{quests.question}}</a> [[{{quests.pub_date}}]]
<br> 
{%endfor%}
</div>


<!--ภายในปีเดียวกับปัจจุบัน-->
<div id="years" style="display: none">
<p><FONT COLOR=red><u>ปี{{now.year}}</u></FONT></p>
{% if count != 0 %}
it's question<br>
{%endif%}
{% for quests in quest %}
{% if now.year == quests.pub_date.year %}
<a href="/answer/{{ quests.id }}/" id="view_question_{{ quests.id }}"> {{quests.id}} {{quests.question}}</a> [[{{quests.pub_date}}]]
<br> 
{%endif%}
{%endfor%}
</div>

<!--ภายใน3เดือนก่อน-->
<div id="m3s" style="display: none">
<p><FONT COLOR=red><u>3เดือนก่อน </u></FONT></p>
{% if count != 0 %}
it's question<br>
{%endif%}
{% for idm3 in m3 %}
{% for quests in quest %}
{% if idm3 == quests.id %}
<a href="/answer/{{ quests.id }}/" id="view_question_{{ quests.id }}"> {{quests.id}} {{quests.question}}</a> [[{{quests.pub_date}}]]
<br> 
{%endif%}
{%endfor%}
{%endfor%}
</div>

<!--ภายใน6เดือนก่อน-->
<div id="m6s" style="display: none">
<p><FONT COLOR=red><u>6เดือนก่อน </u></FONT></p>
{% if count != 0 %}
it's question<br>
{%endif%}
{% for idm6 in m6 %}
{% for quests in quest %}
{% if idm6 == quests.id %}
<a href="/answer/{{ quests.id }}/" id="view_question_{{ quests.id }}"> {{quests.id}} {{quests.question}}</a> [[{{quests.pub_date}}]]
<br> 
{%endif%}
{%endfor%}
{%endfor%}
</div>
    </body>
</html>
